@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {

    margin: 0px;
    padding: 0px;
}

body, html {
    /* use full page */
    min-width: 100%;
    min-height: 100vh;

    /* so photos will go to the edge */
    font-family: Arial, Helvetica, sans-serif;

    /* display: flex;
    justify-content: center; */

    background: url("img/ZigZag.png");
    background-size: cover;
}

h2, h5, h6, button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2, h5 {
    color: #2f463d;
}

.outer-container {
    display: flex;
    /* justify-content: space-between; */

}

.left-floating-box, .right-floating-box {
    display: none;
}

.inner-floating-box, .left-floating-box, .right-floating-box {
    width: 300px;
    height: 600px;
    margin: 70px auto;
    background-color: white;
    box-shadow: 0px 40px 40px -20px;
    border-radius: 5px;
    /* justify-content: center; */
    position:relative;
    
}

.exit-x{
    
}

#close-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.icon-image {
    padding: 40px;
    /* position: relative; */
}

.icon-image img {
    height: 100px;
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.headline {
    /* background-color: cadetblue; */
    text-align: center;
    margin-top: 40;
    width: 100%;
    box-sizing: border-box;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text {
    /* background-color: coral; */
    margin: 20px 40px;
    font-size: 14;
    font-family: 'Ubuntu', sans-serif;
    line-height: 26px;
    color: #828282;
}

.menu-item {
    background-color: #f0fff5;
    /* width:279px; */
    /* margin: 0px auto; */
    margin: 20px 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: flex-start;
}

.mini-picture{
    /* background-color: darkgoldenrod; */
}

/* .desc-and-change {
    display: flex;
    justify-content: space-between;
    background-color: dodgerblue;
} */


.item-description {
    /* background-color: green; */
    text-align: left;
    padding: 15px;
    font-size: 18px;
    
    width:50%;
}

.item-description h6 {
    font-weight: 500;
    color: #7a8f85;
    font-size: 14px;
}
.change{
    width: 40%;
    /* background-color: red; */
    text-align: right;
    margin-right: 30px;
}

a {
    color:#467a66;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.btn-box {
    display: flex;
    position: relative;
    margin-top: 40px;
}
button {
    width: 85%;
    padding: 15px 0;
    font-weight: 600;
    font-size: 15px;

    /* this doesn't work because?... */
    /* justify-content: center; */

    /* center by using position */
    /* position:absolute;
    left: 50%;
    transform: translateX(-50%); */

    margin: auto;

    background-color: #46A67E;
    border: none;
    border-radius: 5px;
    color: white;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .3s ease all;

}

button:hover {
    opacity: 0.8;
    transition: .3s ease all;
    cursor: pointer;
}

.nav-circles {
    width: 15%;
    /* side-by-side -> think flex */
    display: flex;
    justify-content: space-between;

    /* to center whole box and contents */
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
}

.circle {
    background-color: #46A67E;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 10px;
    margin-top: 50px;
}

.circle:nth-of-type(1) {
    opacity: 50%;
}
.circle:nth-of-type(2) {
    
}
.circle:nth-of-type(3) {
    opacity: 50%;
}


/* ********** DESKTOP ************** */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .left-floating-box, .right-floating-box {
        display: flex;
   
    }
}

